<!-- <div class="single-movie" *ngIf="movie">
  <a [href]="'/movies/detail/' + movie.Title">
    <img [src]="movie.Poster" [alt]="movie.Title"  >
  </a>
</div> -->

<div class="card single-movie" *ngIf="movie">
  <a class="card-img-top" [href]="'/movies/detail/' + movie.Title">
    <img [src]="movie.Poster" [alt]="movie.Title"  >
  </a>
  <div class="card-body">
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <button (click)="mylist()">+ Watchlist</button>
  </div>
</div>
