.label-wrapper{
    text-align: right;
}


// .total{
//     background-image: url("Marvel.jpg");
//     background-size: cover;
//     background-attachment: fixed;
// }

// .keys{
//     filter: brightness(-100%);
// }

h3{
	color: White;
}
#wrap{
	width:1000px;
}


.left{
	width:500px;
	background-color: transparent;
	height:1000px;
	float:left;
}

.right{
	width:500px;
	background-color: transparent;
	height:1000px;
	float:right;
}

.row{
  padding: 10px;
  /*border: 1px solid white;*/
}

body{
	font-color: FFFFFF;
}
/*<html>
<body text="green">
<h1>Hello world!</h1>
<p><a href="https://www.w3schools.com">Visit W3Schools.com!</a></p>
</body>
</html>*/

.full-wrapper{
    // background-color: red;
    background-image: url(av.jpg);
}

div {
    //background: transparent;
}

.label-wrapper.keys{
    color:white;
    font-weight:bold;
}