.background-wrapper{
    background: black;
    padding-left: .5rem;
}
.text{
    color: white;
}

.dir{
    display:inline-block;
}
.act{
    display:inline-block;
}

.section{
    padding-left: 1rem;
}

.extra-header{
    background-color: rgb(225, 236, 252);
    border-top: rgba(204, 193, 193, 0.7) 1px solid;
    // border-left: rgba(204, 193, 193, 0.5) 1px solid;
    border-right: rgba(204, 193, 193, 0.5) 1px solid;
}
.extra-value{
    background-color: white;
    border-top: rgba(204, 193, 193, 0.7) 1px solid;
}
