<div class="background-wrapper">
  <div class="container" *ngIf="movieInfo">
    <div class="row">

      <div class="col-12 col-md-8 col-lg-5">
        <div class="fakeimg poster"> <img src="{{movieInfo.poster}}" alt="{{movieInfo.title}}"></div>
      </div>

      <div class="col-12 col-md-4 col-lg-7 text">
        <div class="row">
          <div class="d-flex">
            <h2 class="p-2 title">{{movieInfo.title}}</h2>
          </div>
        </div>

        <div class="row">
          <div class="d-flex">
            <label class="p-2">Imdb</label>
            <div class="p-2 imdbRating">{{movieInfo.imdbRating}}</div>
            <!-- <div class="col-lg-4">Runtime</div> -->
            <div class="p-2 runtime">{{movieInfo.runtime}}</div>
            <div class="p-2 rated">{{movieInfo.rated}}</div>
            <h5 class="p-2 year">{{movieInfo.year}}</h5>
          </div>

          <div class="d-flex">
            <!-- <h5 class="d-flex">Synopsis</h5> -->
            <div class="d-flex plot">{{movieInfo.plot}}</div>
          </div>
          
          <div class="d-flex">
            <h5 class="p-2" style="color:rgb(136, 143, 143)">Genres: </h5>
            <div class="p-2 genre" style="color: rgb(255, 255, 255)">{{movieInfo.genre}}</div>
          </div>
        </div>
        
        <div class="row">
          <div class="d-flex">
            <h5 class="p-2" style="color:rgb(136, 143, 143)">Director: </h5>
            <div class="p-2 director">{{movieInfo.director}}</div>
          </div>

          <div class="d-flex">
            <h5 class="p-2" style="color:rgb(136, 143, 143)">Actors: </h5>
            <div class="p-2 actors">{{movieInfo.actors}}</div>
          </div>

          <div class="d-flex">
            <h5 class="p-2" style="color:rgb(136, 143, 143)">Writer: </h5>
            <div class="p-2 writer">{{movieInfo.writer}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<div class="container" *ngIf="movieInfo">

  <div class="row">
    <h2 class="p-2">Movie details</h2>
  </div>

  <div class="row">
    <div class="col-sm-3 extra-header">Release Date</div>
    <div class="col-sm-9 extra-value released">{{movieInfo.Released}}</div>
  </div>




  <div class="row">
    <div class="col-sm-3 extra-header">Type</div>
    <div class="col-sm-9 extra-value type">{{movieInfo.type}}</div>
  </div>

  <div class="row">
    <div class="col-sm-3 extra-header">Awards</div>
    <div class="col-sm-9 extra-value awards">{{movieInfo.awards}}</div>
  </div>


  <div class="row">
    <div class="col-sm-3 extra-header">Country</div>
    <div class="col-sm-9 extra-value country">{{movieInfo.country}}</div>
  </div>

  <div class="row">
    <div class="col-sm-3 extra-header">Language</div>
    <div class="col-sm-9 extra-value language">{{movieInfo.language}}</div>
  </div>

  <div class="row">
    <div class="col-sm-3 extra-header">Imdb ID</div>
    <div class="col-sm-9 extra-value imdbID">{{movieInfo.imdbid}}</div>
  </div>

  <div class="row">
    <div class="col-sm-3 extra-header">Imdb Votes</div>
    <div class="col-sm-9 extra-value imdbvotes">{{movieInfo.imdbVotes}}</div>
  </div>

  <div class="row">
    <div class="col-sm-3 extra-header">Metascore</div>
    <div class="col-sm-9 extra-value">{{movieInfo.metascore}}</div>
  </div>
</div>

<!-- <div *ngIf="movieInfo.Ratings">
<div  *ngFor="let r of movieInfo.Ratings" [ngClass]="'container ratings'">
  <div class="row">
    <div class="col-sm-3 extra-header">{{r.Source}}</div>
    <div class="col-sm-9 extra-value">{{r.Value}}</div>
  </div>
</div>
</div> -->

<div class="container reviews" >

  <div class="row">
    <h2 class="p-2">Customer Review</h2>
  </div>
  <div class="row">
    <div class="col-12">
      <app-review></app-review>
    </div>
  </div>
</div>
