$defRadius: 20px;
.search-row {
    display:flex;
    justify-content: center;
    
    background:rgba(255,255,255,.3);
    input[name=q]{
        border-radius: $defRadius;
        height: 37px;
    margin: 10px;
    }
    
    input[type=submit]{
        border-radius: $defRadius;
        color: white;
        background: red;
         
    }

    .search-field-wrapper{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.search-row.no-results{
    // background: blue;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    .search-no-results-message{
        color: white;
    }
}

.results {
    background:rgba(0,0,0,.3);
    // opacity: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5%;
}

.show-more{
    padding: 5%;
    // background: black;
    text-align: center;
}
.background-wrapper{
    background-image: url("Marvel.jpg");
    background-size: cover;
    background-attachment: fixed;
}