

<div class="container">
      <form id="login" [formGroup]="loginForm" (ngSubmit)="authenticate()">
            <label class="lbl-danger">{{feedback}}</label>

            <div class="form-group">
            <label for="email"><b>Email:</b></label>
            <input class="form-control" type="email" placeholder="Enter email" formControlName="email" name="email" required />
            <label *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.dirty" class="alert alert-danger">
                              email is invalid
            </label></div>
            <div class="form-group">
            <label for="password"><b>Password:</b>:</label>
            <input class="form-control" type="password" placeholder="Enter Password" formControlName="password" name="password" required />
            <label *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.dirty" 
                        class="alert alert-danger" >
                        password is invalid
            </label>
      </div>



            <button type="submit" value="Login">Login</button>
            <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>

            <div class="container" style="background-color:#f1f1f1">
                  <button type="button" class="cancelbtn">Cancel</button>
                  <span class="password">Forgot <a href="#">password?</a></span>
                </div>
                 
      </form>
</div>

